
.background{
    background-image: url(../images/bush.png);
}
.container {
    background-color: #ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: auto; 
    width: 960px;
}

header{
    background-color: #ffffff;
    padding:5px;
    text-align: right;
    width:960px;
    color:#777777;
    clear:both;
    position: relative;
    left: 250px; 
}

h1.header{
    background-color: #4aaaa5;
    color: #ffffff;
    float:left;
    padding: 40;
    width: 20%;
    text-align: center;
}

h1{
    font-size: 24px;
    margin: 0px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

h1.topic{
    color: #4aaaa5;
    margin: 20px;
    clear:both;
}

footer{
    clear: both;
    text-align: center;
    background-color: #666666;
    padding: 5px;
    color: #ffffff;
    border-top: 8px solid #4AAAA5;
}
/* About Me */

#bio-image {
    float:left; 
    width:200px;
    margin-right: 13px;
    margin-left: 8px;
}

/* Contact */

input {
    width: 95%;
}

input {
    margin-left: 20px;
}

label {
    margin-left: 20px;
}

textarea {
    width: 95%;
    border: .5px solid #777777;
    margin-left: 20px;
}

button {
    background-color:#4aaaa5;
    color: #ffffff;
    margin:20px;
    font-size: 18px;
    height: 30px; 
    width: 80px; 
}

/* Portfolio */

img {
    display: block;
    height:200px; 
    width:200px; 
    float:left; 
}

.hangman{
    position: relative;
    float: left;
    width:33%;
}

.rpg-game{
    position: relative;
    float:left;
    width:33%;
}

.trivia-image{
    position: relative;
    float:left;
    width:33%;
}

.rutgers{
    position: relative;
    float:left;
    width:33%;
}

.rock-paper{
    position: relative;
    float:left;
    width:33%;
}

.text-block{
    position: absolute;
    bottom: 10px;
    left: 40px;
    background-color: #4aaaa5;
    color: white;
    font-size: 18px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    width: 33%;
  }